<div class="header">
  <div class="sides">
    <a href="#" class="menu"></a>
  </div>
  <div class="info">
    <p class="main-pic-msg">
    <p class="main-title">SILVER</p>
    </p>
    <a>Task Management System</a>

  </div>
</div>
<section class="content">
  <h4>{{quoteText}} ({{author}})</h4>
  </p>
</section>
<div class="main2">
  <div class="infobox">
    {{#each data}}
    <h4>General info </h4> <br>
    <p>{{this.info}} </p>
  </div>
  <div class="infobox">
    <h4>Goals</h4> <br>
    <p>{{this.goals}} </p>
  </div>
  {{/each}}
</div>