<div class="section1" style="margin-top: 0;">
  <div class="formControl">
    <form
      class="taskmaker"
      style="background: transparent;"
      action="/signup"
      method="POST"
    >
      <h3>Sign up</h3>
      <div class="container">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" name="username" />
      </div>
      <div class="mb-3 container">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password" />
      </div>
      <div class="mb-3 container">
        <label class="form-label" for="department">Department</label>
      </div>
      <select class="form-select" name="department" multiple>
        <option disabled>Choose</option>
        {{#each departments}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
      <div class="mb-3 container">
        <label class="form-label">User Type</label>
        <br />
        <label class="form-check-label" for="Manager">Manager</label>
        <input
          class="form-check-input"
          type="radio"
          name="userType"
          value="Manager"
        />
        <label class="form-check-label" for="Staff">Staff</label>
        <input
          class="form-check-input"
          type="radio"
          name="userType"
          value="Staff"
        />
      </div>
      <button class="myBtn" type="submit">Sign Up</button>
    </form>
  </div>
</div>
{{#if msg}}
  <br />
  <div class="alert alert-danger" role="alert">
    {{msg}}
  </div>
{{/if}}