<h1>Update Info & Goals</h1>
<div class="section1">
  <div class="formControl">
    <form
      class="taskmaker container"
      style="background-color: transparent;"
      action="/main"
      method="POST"
    >
      <h3>Update Info</h3>
      <div class="form-floating infogoals">
        <textarea
          rows="10"
          class="form-control"
          placeholder="Update info"
          id="floatingTextarea"
          name="info"
        ></textarea>
        <label for="floatingTextarea">Info</label>
      </div>
      <h3>Update Goals</h3>
      <div class="form-floating infogoals">
        <textarea
          rows="10"
          class="form-control"
          placeholder="Update info"
          id="floatingTextarea"
          name="goals"
        ></textarea>
        <label for="floatingTextarea">Goals</label>
      </div>
      <button type="submit" class="myBtn">Update</button>
    </form>
  </div>
</div>