<div class="container"><div class="section1">
    <div><img style="height: 400px" src="/images/logo.png" alt="logo" />
      <p class="main-title">KRONOS</p>
    </div>

    <div class="taskmaker container">
      <form
        class="taskmaker container"
        style="background-color: transparent;"
        action="/login"
        method="POST"
      >
        <h3>Log In</h3>
        <div class="form">
          <div class="mb-3 container">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" name="username" />
          </div>
          <div class="mb-3 container">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="password" />
          </div>
        </div>
        <button style=" padding:15px 30px" class="myBtn" type="submit"><b>Log In</b></button>
      </form>
      <h4>Create an account here</h4>
      <a class="myBtn" style=" padding:15px 25px" href="/signup"><u>Sign up</u></a>

    </div>
  </div></div>

{{#if msg}}
  <br />
  <div class="alert alert-danger" role="alert">
    {{msg}}
  </div>
{{/if}}